{{extend 'layout.html'}}

<div class="col-sm-offset-3 col-sm-6">
    <div class="panel panel-user square">
        <div class="panel-body">

<h3>Request password reset</h3>
{{if form.errors:}}
    Your submitted form contains the following errors:
    <ul>
        {{for fieldname in form.errors:}}
            <li>{{=fieldname}} error: {{=form.errors[fieldname]}}</li>
        {{pass}}
    </ul>
    {{form.errors.clear()}}
{{pass}}
{{=form.custom.begin}}
    <div class="form-group">
        <input type="text" class="form-control" name="username" placeholder="Username" value="{{=form.custom.widget.username['value']}}" autofocus>
    </div>
    <button type="submit" class="btn btn-primary">Request password reset</button>
{{=form.custom.end}}

        </div>
    </div>
</div>